.left{
	width: 40%;
	float: left;
	background: rgba(45, 45, 64, 0.35);
	padding: 30px;
}

.right{
	width: 40%;
	float: right;
	background: rgba(45, 45, 64, 0.35);
	padding: 30px;
}

.user-details, .lists, .open-tasks, .in-progress-tasks, .complete-tasks, .task-list-actions{
	padding: 20px;
	padding-top: 30px;
	background: rgba(45, 45, 64, 0.35);
	padding-bottom: 30px;
}



.task-list-actions a, .logout{
	padding: 10px;
    border: 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
 
}

.new-task, .new-list{
	display: inline-block;
}

.task-list-actions a:hover, .logout:hover{
	background: rgba(243, 243, 249, 0.7);
	color: rgba(45, 45, 64, 0.9);
	font-weight: 600;
}

.logout{
	margin: 0;
}