

*{
	font-family: 'Open-Sans', sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
}

html{
	background: #1D1D29;
}

a{
	text-decoration: none;
	color: ;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0
}


li{
	list-style: none;
}

.content-wrapper{
	width: 70%;
	margin: auto;
}

header{
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
header a{
 color: #E1E2EC;
 font-size: 26px;
 font-weight: 100;
}

.landing-action{
	background: rgba(45, 45, 64, 0.35);
	padding: 40px;
	padding-top: 30px;
}

.actions{
	background: rgba(45, 45, 64, 0.35);
	padding: 50px;
/*	width: 70%;
	margin: auto;*/
}

.actions a{
	padding: 20px;
    border: 1px solid;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 60px;
    margin-left: 60px;
}

.actions a:hover{
	background: rgba(243, 243, 249, 0.7);
	color: rgba(45, 45, 64, 0.9);
	font-weight: 600;
}

h3{
	font-weight: 600;
}

